In [1]:
#Q2 method overloading and method overriding

In [2]:
class Parent:
    def greet(self):
        print("Hello from the parent class!")

class Child(Parent):
    def greet(self):
        print("Hello from the child class!")

child = Child()
child.greet()

Hello from the child class!

In [7]:
def add(a, b=0):
    """Returns the sum of a and b.

    Args:
        a: The first number.
        b: The second number. (default: 0)

    Returns:
        The sum of a and b.
    """

    return a + b

# Call the add() function with one argument.
print(add(1))

# Call the add() function with two arguments.
print(add(1, 2))

1
3

In [9]:
#Q2dictionary comprehension
#It is concise way to create dictionary

In [11]:
{x:x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [13]:
.join(['hello','world'])

SyntaxError: invalid syntax (272703384.py, line 1)

In [14]:
lst=['n','e','e','r','a','j']
sep=''
join_string=sep.join(lst)

In [15]:
join_string

'neeraj'

In [17]:
a="  neeraj"
a.strip()

'neeraj'

In [23]:
b=[1,2,3]

In [24]:
b[1]

2

In [25]:
b.insert(2,'n')

In [26]:
b

[1, 2, 'n', 3]

In [29]:
fruit=['apple','cherry','banana','pineapple']
lst=[]
for i in fruit:
    if 'a' in i[0]:
        lst.append(i)
print(lst)

['apple']

In [30]:
fruit.sort()

In [31]:
fruit

['apple', 'banana', 'cherry', 'pineapple']

In [32]:
tup=(1,2,3,4,1)
tup.count(1)

2

In [33]:
tup.index(2)

1

In [34]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"    

p1 = Person("John", 36)

print(p1)

John(36)

In [35]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def make_sound(self):
        pass

class Dog(Animal):
    def make_sound(self):
        print("Woof!")

class Cat(Animal):
    def make_sound(self):
        print("Meow!")

class Bird(Animal):
    def make_sound(self):
        print("Tweet!")

def make_animal_sound(animal):
    animal.make_sound()

# Create some animals
dog = Dog("Fido", 3)
cat = Cat("Whiskers", 2)
bird = Bird("Tweety", 1)

# Make the animals make sounds
make_animal_sound(dog)
make_animal_sound(cat)
make_animal_sound(bird)

Woof!
Meow!
Tweet!

In [36]:
import datetime

x = datetime.datetime.now()

print(x)

2023-10-11 01:03:20.163023

In [37]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [38]:
y

{'name': 'John', 'age': 30, 'city': 'New York'}

In [39]:
z=json.dumps(y)
z

'{"name": "John", "age": 30, "city": "New York"}'

In [40]:
#Q1
a=2
b=56
max(a,b)

56

In [41]:
#Q2 factorial
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)

In [42]:
factorial(5)

120

In [43]:
#Q3 simple interest
def simple_interest(p,r,t):
    return (p*r*t)/100

In [44]:
simple_interest(100,5,2)

10.0

In [1]:
#Q4
def is_armstrong(n):
    sum=0
    order=len(str(n))
    temp=n
    while temp>0:
        digit=temp%10
        sum+=digit**order
        temp//=10
    return n==sum

In [5]:
n=143
if is_armstrong(n):
    print("armstrong")
else:
    print("not a armstrong")
number=int(input("enter the number"))

not a armstrong
enter the number153

In [11]:
#Q5 prime numbers in given interval
def prime_number(a,b):
    primes=[]
    for i in range(a,b+1):
        for j in range(2,int(i/2)+1):
            if i%j==0:
                break
        else:
            primes.append(i)
    return primes

In [13]:
prime_number(2,10)

[2, 3, 5, 7]

In [18]:
#Q5 prime or not

def prime(n):
    if n>1:
        for i in range(2,int(n/2)+1):
            if n%i==0:
                print(n," is not a prime number")
                break
        else:
            print(n," is aprime number")
    else:
        print(n," is not aprime")

In [19]:
prime(5)

5  is aprime number

In [20]:
#Q6 nth fibonacci number

def fibonacci(n):
    if n<=0:
        print("incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

In [21]:
fibonacci(7)

8

In [22]:
#Q7 fibonacci series

def fib(n):
    fibo_series=[]
    a,b=0,1
    for i in range(n):
        fibo_series.append(a)
        a,b=b,a+b
    return fibo_series

In [23]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
#Q8
def natural_num(n):
    sum=0
    for i in range(n+1):
        sum+=i**2
    return sum

In [31]:
natural_num(3)

14

In [35]:
#Q9
sum=0
a=[1,2,3]
for i in a:
    sum+=i
print(sum)

6

In [4]:
class Calculator:
  def add(self, a, b=None):
    if b is None:
      return a
    else:
      return a + b
c=Calculator()
c.add(1,5)

6

In [5]:
f=lambda x,y:x+y
f(1,2)

3