# 1.compund interest

In [5]:
def compound(p,r,t):
    a=p*(pow((1+r/100),t))
    ci=a-p
    print("compound interest:",ci)

In [6]:
compound(100,10,5)

compound interest: 61.051000000000045

# 2.armstrong number

In [21]:
def armstrong(n):
    temp=n
    sum=0
    while n>0:
        rem=n%10
        sum=sum + rem**3
        n=n//10
    if temp==sum:
        print("it is a armstrong number")
    else:
        print("it is not a armstrong number")

In [22]:
n=int(input("enter the number"))
armstrong(n)

enter the number153
it is a armstrong number

# 3.facorial

In [27]:
def fact(n):
    if n==1 or n==0:
        return 1
    else:
        return n*fact(n-1)

In [28]:
n=int(input("enter the number"))
fact(n)

enter the number6

720

# 4.palindrome

In [31]:
def palindrome(i):
    reverse=str(i)
    return i==reverse[::-1]

In [33]:
i=input("enter the input")
palindrome(i)

enter the input121

True

In [39]:
def palindrome(i):
    temp=i
    sum=0
    while i>0:
        rem=i%10
        sum=sum*10+rem
        i=i//10
    if temp==sum:
        return "it is a palindrome"
    else:
        return "it is not a palindrome"
i=int(input("enter the number"))
palindrome(i)

enter the number2233

'it is not a palindrome'

# 5.prime numbers

In [6]:
def prime(n):
    if n>1:
        for i in range(2,int(n/2)+1):
            if n%i==0:
                print("it is not a prime number.")
                break
        else:
            print("it is a prime number.")
    else:
        print("it is not a prime number")
n=int(input("enter the number"))
prime(n)

enter the number13
it is a prime number.

# 6.fibonacci series

In [55]:
def fib(n):
    if n<=0:
        print("incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)
n=int(input("enter the number"))
fib(n)

enter the number-1
incorrect input

In [21]:
def fib(n):
    if n<=0:
        print("incorrect input")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)
n=int(input("enter the number :"))
for i in range(1,n+1):
    print(fib(i),end=" ")

fib(n)

enter the number :10
0 1 1 2 3 5 8 13 21 34

34

In [26]:
ord("A")

65

# 7.sum of n natural numbers

In [36]:
def natural_num(n):
    s=0
    for i in range(1,n+1):
        s=s+(i*i)
    return s
n=int(input("enter the number:"))
natural_num(n)

enter the number:4

30

# 8.sum of array

In [37]:
arr=[1,2,3,4]
sum(arr)

10

In [40]:
def sum_of_array(arr):
    s=0
    for i in arr:
        s=s+i
    return s
arr=[1,2,3,4]
sum_of_array(arr)

10

# 9.array multiplication divided by n

In [48]:
arr=[1,2,3,4]
n=11
m=1
for i in arr:
    m=m*i
    #print(i)
#print(m)
rem=m%n
print(rem)

2

# 10. interchange first and last element in the list

In [50]:
lis=[1,2,3,4]
temp=lis[0]
lis[0]=lis[-1]
lis[-1]=temp

In [51]:
lis

[4, 2, 3, 1]

# 11.swap positions in the list

In [52]:
def swap(lis,pos1,pos2):
    lis[pos1],lis[pos2]=lis[pos2],lis[pos1]
    return lis

In [53]:
lis=[1,2,3,4,5,6]
swap(lis,5,1)

[1, 6, 3, 4, 5, 2]

In [ ]:
12.element is exist in the lkis

In [56]:
my_str=input()
new_str=my_str.split()
print(new_str)

vikas
['vikas']

In [91]:
def classification():
    lst1=[]
    lst2=[]
    lst3=[]
    lst4=[]
    lst5=[]
    dump=[]
    n=int(input("Enter the number of element u want to enter:"))
    for i in range(n):
        elements=input("Enter the elements:")
        lst1.append(elements)
    for i in lst1:
        if i[0]=='v':
            lst2.append(i)
        elif i[0]=='r':
            lst3.append(i)
        elif i[0]=='s':
            lst4.append(i)
        elif i[0]=='k':
            lst5.append(i)
        else:
            dump.append(i)
    print("\noriginal list :",lst1,"\n","classification on v :",lst2,'\n',"classification on r :",lst3,"\n","Classification on s",lst4,"\n","Classification on k",lst5,"\n","No match found :",dump)

In [89]:
classification()

Enter the number of element u want to enter:3
Enter the elements:vikas
Enter the elements:sachin
Enter the elements:neeraj

original list : ['vikas', 'sachin', 'neeraj']
 classification on v : ['vikas']
 classification on r : []
 Classification on s ['sachin']
 Classification on k []  No match found : ['neeraj']

In [75]:
lst2=[]
lst3=[]
lst4=[]
lst5=[]
dump=[]
for i in lst1:
    if i[0]=='v':
        lst2.append(i)
    elif i[0]=='r':
        lst3.append(i)
    elif i[0]=='s':
        lst4.append(i)
    elif i[0]=='k':
        lst5.append(i)
    else:
        dump.append(i)

In [76]:
lst2

['vikas']

In [92]:
ls=[1,2,3]

In [93]:
ls.clear()

In [94]:
ls

[]

In [95]:
def classification():
    classification_dict = {'v': [], 'r': [], 's': [], 'k': []}
    dump = []

    n = int(input("Enter the number of elements you want to enter: "))
    for _ in range(n):
        element = input("Enter the element: ")
        key = element[0].lower()

        if key in classification_dict:
            classification_dict[key].append(element)
        else:
            dump.append(element)

    print("\nOriginal list:", list(classification_dict.values())[0] + dump)
    for key, value in classification_dict.items():
        print("Classification on", key, ":", value)

classification()

Enter the number of elements you want to enter: 3
Enter the element: neeraj
Enter the element: vikas
Enter the element: suresh

Original list: ['vikas', 'neeraj']
Classification on v : ['vikas']
Classification on r : []
Classification on s : ['suresh']
Classification on k : []

In [100]:
ls=[1,2,3,4]
ls1=[]

In [101]:
for i in ls:
    ls1.append(i*3)
ls1

[3, 6, 9, 12]

In [102]:
list1 = ['vikas','raunak','shagla','sachin','ravinder','akhilesh','raghav','kanishka']
dict1 = {}
for word in list1:
    first_char = word[0]
    if first_char in dict1:
        dict1[first_char].append(word)
    else:
        dict1[first_char] = [word]

for key in sorted(dict1.keys()):
    print(f"{key}: {dict1[key]}")

a: ['akhilesh']
k: ['kanishka']
r: ['raunak', 'ravinder', 'raghav']
s: ['shagla', 'sachin']
v: ['vikas']

In [104]:
lst=[1,2,3]
lst.sort()

In [105]:
lst[-2]

2

In [106]:
lst=[1,2,354,8,23,14,56]
lst.sort()

In [111]:

n=int(input("input"))
size=len(lst)
lst[n-1]

input5

23

In [116]:
lst

[1, 2, 8, 14, 23, 56, 354]

In [117]:
ls1
for i in lst:
    if i%2==0:
        ls1.append(i)
ls1

[2, 8, 14, 56, 354]

In [115]:
ls1.clear()

In [121]:
for i in range(1,10):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

In [122]:
ls=[-1,3,5,-6]

In [123]:
for i in ls:
    if i>0:
        print(i)

3
5

In [132]:
ls=[1,3,3,5,5,6]
n=5
count=0

for i in ls:
    if n==i:
        count=count+1
print(count)

2